/* Navbar */
.navbar p {
    color: gray;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

/* seccion buscar */
.buscar {
    margin-bottom: 5px;
}

/* seccion carrusel */
.carrusel .row {
    margin: 0rem;
}

/* seccion camisetas */
.camisetas .row {
    justify-content: space-around;
}

.camisetas .card {
    flex-basis: 46%;
    max-width: 80%;
    margin-bottom: 1.5rem;
}

/*modal*/
.modal-camisa {
    margin: 1rem 0;
}

.modal-camisa img {
    width: 90%;
    border: 1px solid #e4dcdc;
}

.modal-camisa #clasificacion {
    display: block;
    margin-bottom: 10px;
}

.tab-content textarea {
    width: 100%;
    margin-top: 0.8rem;
}

@media (min-width: 768px) {

    /* Navbar */
    .navbar p {
        margin-left: 4rem;
    }

    .navbar-collapse {
        flex-direction: row-reverse;
        margin-right: 4rem;
    }

    /*camisetas*/
    .camisetas .card {
        max-width: 30%;
    }

    .card-body {
        padding: 1.1rem;
    }
}